body {
    background: #ee6e73;
}

#f_up_series_container, #f_down_series_container {
    cursor: pointer;
}

#f_up_series_container, #start_value, #f_down_series_container {
    text-align: center;
}

.container {
    background: #ffffff;
}

.section {
    padding: 20px;
}

.main_number {
    font-size: 21px;
}

.minus_third {
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 300;
}

input {
    font-size: 21px !important;
}

.multiplier {
    font-size: 10px;
    color: #aaaaaa;
}

.multiplier_container {
    float: left;
    padding: 5px 0;
    width: 9%;
}