body {
    background: #ee6e73;
}
#f_up_series_container, #f_down_series_container {
    cursor: pointer;
}

#f_up_series_container, #fibonacci_value, #f_down_series_container {
    text-align: center;
}
.container {
    background: #ffffff;
}
.section {
    padding: 20px;
}
